dj-database-url==0.4.2
-e git://github.com/laborautonomo/dj-la-library-system.git@60d3795c952704b10ee7b60d1561696f0824da31#egg=dj_la_library_system
dj-static==0.0.6
Django==1.10.8
-e git://github.com/laborautonomo/django-la-tags.git@443e2f28cb48ec7742457e450f0aa938c22682c8#egg=django_la_tags
django-toolbelt==0.0.1
gunicorn==19.7.1
olefile==0.44
Pillow==4.2.1
# pkg-resources==0.0.0
psycopg2==2.7.3.1
static3==0.7.0
